#![enable(implicit_some)]
Prefab(
  entities: [
        // Goomba
    PrefabEntity(
      data: AnimationPrefabData(
        // SpriteScenePrefab
        sprite_scene: (
          // SpriteSheetPrefab with index 0
          sheet: Sheet(
            // TexturePrefab
            texture: File("textures/fireball.png", (
              "IMAGE", (
                sampler_info: (
                  min_filter: Nearest,
                  mag_filter: Nearest,
                  mip_filter: Nearest,
                  wrap_mode: (Tile, Tile, Tile),
                  lod_bias: (0),
                  lod_range: (
                    start: ( 0 ),
                    end: ( 8000 ),
                  ),
                  comparison: None,
                  border: (0),
                  anisotropic: Off,
                  normalized: true,
                ),
              ),
            )),
            sprites: [
              List((
                texture_width: 48,
                texture_height: 16,
                sprites: [
                  (x: 0, y: 0, width: 16, height: 16), // 1
                  (x: 16, y: 0, width: 16, height: 16), // 2
                  (x: 0, y: 16, width: 16, height: 16), // 3
                  (x: 16, y: 16, width: 16, height: 16), // 4
                ],
              )),
            ],
            // optional
            name: "fireball",
          ),
          // SpriteRenderPrefab
          render: (
            sheet: "fireball",
            sprite_number: 0,
          ),
        ),
        // AnimationSetPrefab
        animation_set: (
          animations: [
            (
              // AnimationId
              Move,
              (
                samplers: [
                  (
                    0,
                    // Only SpriteIndex channel allowed for SpriteRender in AnimationSetPrefab
                    SpriteIndex,
                    (
                      // Time of key frames
                      input: [0.0, 0.1, 0.2, 0.3],
                      // Sprite indexes from SpriteSheet for key frames
                      output: [0, 1, 2, 3],
                      // Sprites can only ever be animated with Step
                      function: Step,
                    ),
                  ),
                ],
              ),
            ),
          ],
        ),
      ),
    ),
  ],
)
